/* 
main color
dark gray: #595956
gray : #8C8C88
light gray : #A6A6A4
white : #F2F2F2
black : #0D0D0D
*/

body{
    background-color: #A6A6A4;
}
ul{
    list-style-type: none;
    }
    
    button{
        background-color: #A6A6A4;
        color: #0D0D0D;
        font-size: 20px;
        font-weight: 700;
    }
/* header style */
header{
    background-color: #0D0D0D;
    
    color: #595956;
}
.logo h1{
    color:#F2F2F2 ;
   
    
}
.logo h1 span{
    color:#595956;
    
}
.logo h1 span:hover{
    color: #F2F2F2;
}
#darkSpan{
    color:#595956 ;
}
#darkSpan:hover{
    color: #F2F2F2;
}
#lightSpan{
    color: #595956
}
#lightSpan:hover{
    color: #F2F2F2;
}
#fasla{
    color: #A6A6A4;
}
#arSpan{
    color:#595956 ;
}
#enSpan{
    color: #595956;
}
#arSpan:hover{
    color:#F2F2F2 ;
}
#enSpan:hover{
    color: #F2F2F2;
}
/*  main */
/* Section First */

.login{
    
    -webkit-box-shadow: 8px -3px 10px 3px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 8px -3px 10px 3px rgba(0, 0, 0, 0.67);
    box-shadow: 8px -3px 10px 3px rgba(0, 0, 0, 0.67);
    background-color: #0D0D0D;
}
.logoo h1{
    color:#F2F2F2 ;
    
}
.logoo h1 span{
    color:#595956 ;
    
}
.logoo h1 span:hover{
    color: #F2F2F2;
}
.tab a{
   
    border-top-color:#595956;
    
    border-right-color:#595956;
    
    border-left-color:#595956;
    
    
    background-color: rgba(0, 0, 0, 0.205);
    color: #595956;
   
}
.tab a:hover{
    color: #F2F2F2;
}
.tab-content{
   
}
.define-input input{
    
}
/* section 2 'second' hero */
#hero{
    background-image:url('../V 0.0/pic/darkHero.png') ;
}
#hero h1{
    background-color: #595956;
    color: #F2F2F2;
   
}
/* footer */
footer{
    background-color: #0D0D0D;
}
.footer-container{
    background-color: #0D0D0D;
    color: #595956;
    
}