/* 
header{
    display: flex;
flex-direction: row;
gap: 10px; 
}
.container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(1,auto);
    justify-content: center;
    align-items: center;
}
.menu{
list-style-type: none;
display: flex;
flex-direction: row;
gap: 10px;
}
.menu-item{

}
.link-item{
text-decoration: none;
}
button{
    background-color: #64dfdf;
    color: black;
    border-radius: 40%;
    font-weight: bold;
} */
html {
  background-image: url("pic/bgOne.jpg");
}
* {
  margin: 0px;
  padding: 0px;
}
body {
    
    display: grid;
    grid-template-rows: repeat(3,auto);
    gap: 10px;
    
}
header{
    background-color: #c8b6ad;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    align-items: flex-start;
    
}
.menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.menu-item{

}
.link-item{
    text-decoration: none;
    font-size: 20px;
}
#lightTheme{
    image: url('pic/moon.png');
}
/* first Section */
.first-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
    justify-content:space-evenly;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 20px;
    /* font-weight: bold; */
}

#signUp{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.define-input input{
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: .80rem;
    font-size: 20px;
    background-color: rgba(0, 255, 255, 0);
    color: black;
}
#login-password{
    margin-bottom: 20px; 
}
button{
    background-color: #64dfdf;
    color: black;
    border-radius: .80rem;;
    font-weight: 700;
} 
/* Second Section */
.second-container {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin-top: 100px;
}
.second-container .one ,.two{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
    justify-content:flex-start;
    align-items: center;
    gap: 30px;
    
}
/* Thrid Section */
.third-container{
    display: grid;
    grid-template-columns: repeat(3,200px);
}
.card{
border: solid 1px;
/* display: flex;
flex-direction: column; */
/* flex-wrap: wrap; */
}
.card-header{
    border: solid 1px;
    
}
.card-footer{
    border: solid 1px;
}

